<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.clientMapper">

	<select id="getClientInfo"
		resultType="com.project.domain.ClientDTO">
		select * from client
		limit #{startRow} , #{pageSize}
	</select>

	<select id="getClientCount" resultType="java.lang.Integer">
		select count(*) from
		client
	</select>

	<insert id="insertClient">
		insert into client(cli_cd, cli_nm, cli_type, cli_num,
		cli_business, cli_prod, cli_boss, cli_emp, cli_addr)
		values(#{cli_cd},
		#{cli_nm}, #{cli_type}, #{cli_num}, #{cli_business},
		#{cli_prod}, #{cli_boss}, #{cli_emp}, #{cli_addr})
	</insert>

	<select id="getClient" resultType="com.project.domain.ClientDTO">
		select * from client
		where cli_cd = #{cli_cd}
	</select>

	<update id="updateClient">
		update client set cli_cd = #{cli_cd}, cli_nm = #{cli_nm}, cli_type = #{cli_type}, cli_num = #{cli_num},
		cli_business = #{cli_business},
		cli_prod = #{cli_prod}, cli_boss = #{cli_boss}, cli_emp = #{cli_emp},
		cli_addr = #{cli_addr}, cli_addr2 = #{cli_addr2}, cli_tel = #{cli_tel},
		cli_emp_tel = #{cli_emp_tel}, cli_fax = #{cli_fax}, cli_email = #{cli_email}, cli_note = #{cli_note}
		where cli_cd = #{cli_cd}
	</update>

	<delete id="deleteClient">
		delete from client
		where cli_cd = #{cli_cd}
	</delete>

</mapper>