<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.project.mappers.employeeMapper">


    <select id="userCheck" resultType="com.project.domain.EmployeeDTO">
        select * from employee
        where emp_cd = #{emp_cd} and emp_pass = #{emp_pass}
    </select>

	<select id="getEmployeeList" resultType="com.project.domain.EmployeeDTO">
		select * from employee
		limit #{startRow} , #{pageSize}
	</select>
	
	<select id="getEmployeeCount" resultType="java.lang.Integer">
		select count(*) from employee
	</select>

	<insert id="insertEmployee">
		insert into employee(emp_cd, emp_nm, emp_pass, emp_dept, emp_position, emp_email, emp_tel)
		values(#{emp_cd}, #{emp_nm}, #{emp_pass}, #{emp_dept}, #{emp_position}, #{emp_email}, #{emp_tel})
	</insert>
	
	<delete id="deleteEmployee">
		delete from employee
		where emp_cd=#{emp_cd}
	</delete>
	
	<select id="getUpdateList">
		select * from employee
		where emp_cd = #{emp_cd}
	</select>
	
	<update id="updateEmployee">
		update employee set emp_nm = #{emp_nm}, emp_position = #{emp_position} emp_email = #{emp_email}, emp_tel = #{emp_tel} 
		where emp_cd = #{emp_cd}
	</update>
	
	
	
</mapper>