<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- src/main/resources -->
<!-- mybatis-config.xml 파일 만들기 -->
<!--  파일이름 대신 namespace 이름을 불러서 사용 -->
<mapper namespace="com.project.mappers.lineMapper">

    <select id="getLineList" resultType="com.project.domain.LineDTO">
    SELECT * 
	FROM line
	WHERE 1=1
	<if test="search != null">
		and line_cd like CONCAT('%',#{search },'%')
	</if>
	<if test="search2 != null">
		and line_nm like CONCAT('%',#{search2 },'%')
	</if>
	ORDER BY line_cd desc
	limit #{startRow} , #{pageSize}
	</select>

    <select id="getLineCount" resultType="java.lang.Integer">
    SELECT COUNT(*)
	FROM line
	WHERE 1=1
	<if test="search != null">
		and line_cd like CONCAT('%',#{search },'%')
	</if>
	<if test="search != null">
		and line_nm like CONCAT('%',#{search2 },'%')
	</if>
	</select>
	
	<insert id="insertLine">
		insert into line(line_cd, line_nm, line_process, line_place, line_num, line_st, line_note)
		values(#{line_cd},#{line_nm},#{line_process},#{line_place},#{line_num},#{line_st},#{line_note})
	</insert>
	
	<select id="getMaxLine" resultType="java.lang.Integer">
    SELECT MAX(REGEXP_REPLACE(line_cd, '[a-z]', ''))+1
	from line
    </select>
    
    <update id="updateLine">
	update line
	set line_nm=#{line_nm}, line_process=#{line_process}, line_place=#{line_place}, line_num=#{line_num}, line_st=#{line_st}, line_note=#{line_note} 
	where line_cd = #{line_cd}
	</update>
	
	<delete id="deleteLine">
	delete from line
	where line_cd=#{line_cd}
	</delete>
			
<!-- id-"이름" spl구문 하나하나 이름
	 ? 대신에 MemberDTO 멤버변수명 #{id}	-->
<!-- 	<insert id="insertTest"> -->
<!-- 		insert into test1(num,name) -->
<!-- 		values(#{num},#{name}) -->
<!-- 	</insert> -->
    
<!--     <select id="" resultType=""> -->
<!--     </select> -->

<!-- 	<update id=""> -->
<!-- 	</update> -->

</mapper>