<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.OrderMapper">
	
	<select id="getOrderInsertList" resultType="com.project.domain.OrderDTO">
		select c.cli_cd, c.cli_nm, ord_date, o.ord_d_date, e.emp_cd, e.emp_nm
		from orders o join product p on o.prod_cd=p.prod_cd join client c on p.cli_cd=c.cli_cd join employee e on o.emp_cd=e.emp_cd
		order by ord_cd
<!-- 		limit #{startRow}, #{pageSize} -->
	</select>

	<select id="getOrderList" resultType="com.project.domain.OrderDTO">
		select o.ord_cd, c.cli_nm, ord_date, e.emp_nm, p.prod_cd, p.prod_nm, p.prod_unit, o.ord_d_date, o.ord_count, s.ship_count
		from orders o join product p on o.prod_cd=p.prod_cd join client c on p.cli_cd=c.cli_cd join employee e on o.emp_cd=e.emp_cd left join ship s on o.ord_cd=s.ord_cd
		order by ord_cd limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getOrderList_cli_cd" resultType="com.project.domain.OrderDTO">
		select o.ord_cd, c.cli_nm, ord_date, e.emp_nm, p.prod_cd, p.prod_nm, p.prod_unit, o.ord_d_date, o.ord_count, s.ship_count
		from orders o join product p on o.prod_cd=p.prod_cd join client c on p.cli_cd=c.cli_cd join employee e on o.emp_cd=e.emp_cd left join ship s on o.ord_cd=s.ord_cd
		where c.cli_cd=#{cli_cd}
		order by ord_cd
<!-- 		 limit #{startRow}, #{pageSize} -->
	</select>
	
	<select id="getOrderCount" resultType="java.lang.Integer">
	select count(*) from orders
	</select>
	
	<select id="getOrderPop" resultType="com.project.domain.OrderDTO">
		select emp_cd, emp_nm
		from employee
		order by emp_cd limit #{startRow}, #{pageSize}
	</select>

<!-- 	<select id="getOrderList" resultType="com.project.order.OrderDTO"> -->
<!-- 		select o.ord_num, c.cli_nm, ord_date, e.emp_nm, p.prod_cd, p.prod_nm, p.prod_unit, o.ord_count, s.ship_count -->
<!-- 		from orders o join product p on o.prod_cd=p.prod_cd join client c on p.cli_cd=c.cli_cd join employee e on o.emp_cd=e.emp_cd left join ship s on o.ord_num=s.ord_num; -->
<!-- 	</select> -->
	
</mapper>