<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.orderMapper">
	<select id="getSearchCli" resultType="com.project.domain.OrderDTO">
		select cli_cd, cli_nm, cli_boss ,cli_type
		from client
		<if test="search!=null||search2!=null">
			where cli_cd like CONCAT('%',#{search},'%') and cli_nm like CONCAT('%',#{search2},'%')
		<if test="search3!='#'">
			and cli_type like CONCAT('%',#{search3},'%')
		</if>
		</if>
		 limit #{startRow} , #{pageSize}
	</select>
	
	<select id="getSearchCliCount" resultType="java.lang.Integer">
		select count(*) from client
		<if test="search!=null||search2!=null||search3!=null">
			where cli_cd like CONCAT('%',#{search},'%') and cli_nm like CONCAT('%',#{search2},'%') and cli_type like CONCAT('%',#{search3},'%')
		</if>
	</select>
	
	<select id="getSearchEmp" resultType="com.project.domain.OrderDTO">
		select emp_cd, emp_nm
		from employee
		<if test="search!=null||search2!=null">
			where emp_cd like CONCAT('%',#{search},'%') and emp_nm like CONCAT('%',#{search2},'%')
		</if>
		 limit #{startRow} , #{pageSize}
	</select>
	
	<select id="getSearchEmpCount" resultType="java.lang.Integer">
		select count(*) from employee
		<if test="search!=null||search2!=null">
			where emp_cd like CONCAT('%',#{search},'%') and emp_nm like CONCAT('%',#{search2},'%')
		</if>
	</select>
	
	<select id="getSearchProd" resultType="com.project.domain.OrderDTO">
		select prod_cd, prod_nm, prod_mat, prod_unit, prod_text, prod_size
		from product
		 where prod_mat='완제품'
		<if test="search!=null||search2!=null">
			and prod_cd like CONCAT('%',#{search},'%') and prod_nm like CONCAT('%',#{search2},'%')
		</if>
		 limit #{startRow} , #{pageSize}
	</select>
	
	<select id="getSearchProdCount" resultType="java.lang.Integer">
		select count(*) from product where prod_mat='완제품'
		<if test="search!=null||search2!=null">
			and prod_cd like CONCAT('%',#{search},'%') and prod_nm like CONCAT('%',#{search2},'%')
		</if>
	</select>
	
	<select id="getOrderInsertList" resultType="com.project.domain.OrderDTO">
		select o.ord_cd, o.cli_cd, c.cli_nm, ord_date, ord_d_date, e.emp_cd, e.emp_nm
		from orders o join client c on o.cli_cd=c.cli_cd join employee e on o.emp_cd=e.emp_cd left join ship s on o.ord_cd=s.ord_cd
		where s.ship_count is null
		<if test="search!=null || search2!=null">
			and o.cli_cd like CONCAT('%',#{search},'%') and o.emp_cd like CONCAT('%',#{search2},'%')
			<if test="search3!=''">
				and (date_format(ord_date, '%Y-%m-%d') between #{search3} and #{search4})
			</if>
			<if test="search5!=''">
				and (date_format(ord_d_date, '%Y-%m-%d') between #{search5} and #{search6})
			</if>
		</if>
		order by ord_date, ord_cd
	</select>
	
	<select id="getOrderInsert" resultType="com.project.domain.OrderDTO">
		select ord_cd, o.cli_cd, c.cli_nm, ord_date, ord_d_date, ord_count, e.emp_cd, e.emp_nm, p.prod_cd, p.prod_nm, p.prod_mat, p.prod_unit
		from orders o join client c on o.cli_cd=c.cli_cd join employee e on o.emp_cd=e.emp_cd join product p on o.prod_cd=p.prod_cd
		where ord_cd=#{ord_cd}
	</select>
	
	<select id="getOrdNum" resultType="java.lang.String">
		select code_grp from code where code_cd='ord_cd' and code_grp_nm='수주'
	</select>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(cast(substring(ord_cd,2,3) as unsigned)) from orders where ord_date=#{ord_date}
	</select>
	
	<insert id="orderAdd">
		insert into orders values (#{ord_cd}, #{prod_cd}, #{emp_cd}, #{cli_cd}, #{ord_date}, #{ord_d_date}, #{ord_count})
	</insert>
	
	<update id="orderEdit">
		update orders set prod_cd=#{prod_cd}, emp_cd=#{emp_cd}, cli_cd=#{cli_cd}, ord_date=#{ord_date}, ord_d_date=#{ord_d_date}, ord_count=#{ord_count} where ord_cd=#{ord_cd}
	</update>
	
	<delete id="orderDel">
		delete from orders where ord_cd=#{ord_cd}
	</delete>

	<select id="getOrderList" resultType="com.project.domain.OrderDTO">
		select o.ord_cd, c.cli_cd, c.cli_nm, ord_date, e.emp_cd, e.emp_nm, p.prod_cd, p.prod_nm, p.prod_unit, ord_d_date, ord_count, ifnull(ship_count, 0) ship_count
		from orders o join product p on o.prod_cd=p.prod_cd join client c on o.cli_cd=c.cli_cd join employee e on o.emp_cd=e.emp_cd left join ship s on o.ord_cd=s.ord_cd
		<if test="search8!='ship'">
			where ship_count is null
		</if>
		<if test="search8=='ship'">
			where ship_count is not null
		</if>
		<if test="search!=null || search2!=null || search7!=null">
			and o.cli_cd like CONCAT('%',#{search},'%') and o.emp_cd like CONCAT('%',#{search2},'%') and o.prod_cd like CONCAT('%',#{search7},'%')
			<if test="search3!=''">
				and (date_format(ord_date, '%Y-%m-%d') between #{search3} and #{search4})
			</if>
			<if test="search5!=''">
				and (date_format(ord_d_date, '%Y-%m-%d') between #{search5} and #{search6})
			</if>
		</if>
		order by ship_count, ord_date, ord_cd
	</select>
	
	<select id="getOrderCount" resultType="java.lang.Integer">
		select count(*)
		from orders o join product p on o.prod_cd=p.prod_cd join client c on o.cli_cd=c.cli_cd join employee e on o.emp_cd=e.emp_cd left join ship s on o.ord_cd=s.ord_cd
		where ship_count is null
		<if test="search!=null || search2!=null">
			and o.cli_cd like CONCAT('%',#{search},'%') and o.emp_cd like CONCAT('%',#{search2},'%')
			<if test="search3!=''">
				and (date_format(ord_date, '%Y-%m-%d') between #{search3} and #{search4})
			</if>
			<if test="search5!=''">
				and (date_format(ord_d_date, '%Y-%m-%d') between #{search5} and #{search6})
			</if>
		</if>
	</select>
</mapper>