<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.performanceMapper">

	<select id="performanceCurrentInfo"
		resultType="com.project.domain.PerformanceDTO">
		select pe.perf_date, l.line_nm, p.prod_cd, p.prod_nm,
		p.prod_unit, pe.perf_good, pe.perf_err, pe.perf_cause, pe.perf_note,
		i.inst_cd, o.ord_cd, c.cli_nm
		from performance pe
		join instruction i
		on pe.inst_cd = i.inst_cd
		join line l
		on i.line_cd = l.line_cd
		join orders o
		on i.ord_cd = o.ord_cd
		join product p
		on o.prod_cd = p.prod_cd
		join client c
		on o.cli_cd = c.cli_cd
		limit #{startRow}, #{pageSize}
	</select>

	<select id="performanceCurrentCount"
		resultType="java.lang.Integer">
		select count(*) from
		performance
	</select>

</mapper>