<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.performanceMapper">

	<select id="performanceCurrentInfo"
		resultType="com.project.domain.PerformanceDTO">
		select pe.perf_date, l.line_nm, p.prod_cd, p.prod_nm,
		p.prod_unit, pe.perf_good, pe.perf_err, pe.perf_cause, pe.perf_note,
		i.inst_cd, o.ord_cd, c.cli_nm            
		from performance pe
		join instruction i
		on pe.inst_cd = i.inst_cd
		join line l
		on i.line_cd = l.line_cd
		join orders o
		on i.ord_cd = o.ord_cd
		join product p
		on o.prod_cd = p.prod_cd
		join client c
		on o.cli_cd = c.cli_cd
		where 1=1
		<if test="search != null">
			<if test='search != ""'>
				and pe.perf_date &gt;= #{search}
			</if>
		</if>
		<if test="search2 != null">
			<if test='search2 != ""'>
				and pe.perf_date &lt;= #{search2}
			</if>
		</if>
		<if test="search3 != null">
			<if test='search3 != ""'>
				and p.prod_cd = #{search3}
			</if>
		</if>
		<if test="search4 != null">
			<if test='search4 != ""'>
				and i.inst_cd = #{search4}
			</if>
		</if>
		<if test="search5 != null">
			<if test='search5 != ""'>
				<if test='search5 != "전체"'>
					and l.line_cd = #{search5}
				</if>
			</if>
		</if>
		limit #{startRow}, #{pageSize}
	</select>

	<select id="performanceCurrentCount"
		resultType="java.lang.Integer">
		select count(*)            
		from performance pe
		join instruction i
		on pe.inst_cd = i.inst_cd
		join line l
		on i.line_cd = l.line_cd
		join orders o
		on i.ord_cd = o.ord_cd
		join product p
		on o.prod_cd = p.prod_cd
		join client c
		on o.cli_cd = c.cli_cd
		where 1=1
		<if test="search != null">
			<if test='search != ""'>
				and pe.perf_date &gt;= #{search}
			</if>
		</if>
		<if test="search2 != null">
			<if test='search2 != ""'>
				and pe.perf_date &lt;= #{search2}
			</if>
		</if>
		<if test="search3 != null">
			<if test='search3 != ""'>
				and p.prod_cd = #{search3}
			</if>
		</if>
		<if test="search4 != null">
			<if test='search4 != ""'>
				and i.inst_cd = #{search4}
			</if>
		</if>
		<if test="search5 != null">
			<if test='search5 != ""'>
				<if test='search5 != "전체"'>
					and l.line_cd = #{search5}
				</if>
			</if>
		</if>
	</select>
	
	<select id="perfCurrJsonList"
		resultType="com.project.domain.PerformanceDTO">
		select r.prod_cd as r_prod_cd, r.prod_nm as r_prod_nm, 
		p2.prod_unit as r_prod_unit, r.req_req, pe.perf_good, pe.perf_err
		from performance pe
		join instruction i
		on pe.inst_cd = i.inst_cd
		join orders o
		on i.ord_cd = o.ord_cd
		join product p
		on o.prod_cd = p.prod_cd
		join requirement r
		on p.prod_cd = r.prod_fcd
		join product p2
		on r.prod_cd = p2.prod_cd
		where r.prod_fcd = #{prod_cd}
	</select>

</mapper>