<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.shipMapper">

	<select id="shipCurrentInfo"
		resultType="com.project.domain.ShipDTO">
		select s.ship_cd, s.ship_date, c.cli_nm, p.prod_cd,
		p.prod_nm, p.prod_unit, o.ord_cd, o.ord_count, s.ship_count
		from ship s
		join orders o
		on s.ord_cd=o.ord_cd
		join product p
		on o.prod_cd = p.prod_cd
		join client c
		on o.cli_cd = c.cli_cd
		limit #{startRow}, #{pageSize}
	</select>

	<select id="shipCurrentCount" resultType="java.lang.Integer">
		select count(*) from
		ship
	</select>
	
	<delete id="currDelete">
    	delete from ship
    	where ship_cd = #{ship_cd}
    </delete>

</mapper>