<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.shipMapper">

	<select id="shipCurrentInfo"
		resultType="com.project.domain.ShipDTO">
		select s.ship_cd, s.ship_date, c.cli_nm, p.prod_cd,
		p.prod_nm, p.prod_unit, o.ord_cd, o.ord_count, s.ship_count
		from ship s
		join orders o
		on s.ord_cd=o.ord_cd
		join product p
		on o.prod_cd = p.prod_cd
		join client c
		on o.cli_cd = c.cli_cd
		where 1=1
		<if test="search != null">
			<if test='search != ""'>
				and s.ship_date &gt;= #{search}
			</if>
		</if>
		<if test="search2 != null">
			<if test='search2 != ""'>
				and s.ship_date &lt;= #{search2}
			</if>
		</if>
		<if test="search3 != null">
			<if test='search3 != ""'>
				and p.prod_cd = #{search3}
			</if>
		</if>
		<if test="search4 != null">
			<if test='search4 != ""'>
				and c.cli_cd = #{search4}
			</if>
		</if>
		order by ship_date, ship_cd
		limit #{startRow}, #{pageSize}
	</select>

	<select id="shipCurrentCount" resultType="java.lang.Integer">
		select count(*)
		from ship s
		join orders o
		on s.ord_cd=o.ord_cd
		join product p
		on o.prod_cd = p.prod_cd
		join client c
		on o.cli_cd = c.cli_cd
		where 1=1
		<if test="search != null">
			<if test='search != ""'>
				and s.ship_date &gt;= #{search}
			</if>
		</if>
		<if test="search2 != null">
			<if test='search2 != ""'>
				and s.ship_date &lt;= #{search2}
			</if>
		</if>
		<if test="search3 != null">
			<if test='search3 != ""'>
				and p.prod_cd = #{search3}
			</if>
		</if>
		<if test="search4 != null">
			<if test='search4 != ""'>
				and c.cli_cd = #{search4}
			</if>
		</if>
	</select>
	
	<delete id="currDelete">
    	delete from ship
    	where ship_cd = #{ship_cd}
    </delete>
    
    <select id="shipInfo" resultType="com.project.domain.ShipDTO">
		select o.ord_cd, ord_date, ord_d_date, o.prod_cd, p.prod_nm, ord_count, p.prod_count,c.cli_nm, s.ship_count
		from orders o join product p on o.prod_cd=p.prod_cd join client c on o.cli_cd=c.cli_cd left join ship s on o.ord_cd=s.ord_cd
		where s.ship_count is null
		<if test="search!=null || search2!=null">
			and o.cli_cd like CONCAT('%',#{search},'%') and o.prod_cd like CONCAT('%',#{search2},'%')
		<if test="search3!=''">
			and (date_format(ord_date, '%Y-%m-%d') between #{search3} and #{search4})
		</if>
		<if test="search5!=''">
			and (date_format(ord_d_date, '%Y-%m-%d') between #{search5} and #{search6})
		</if>
		</if>
		order by ord_date
    </select>
    
    <select id="getShipNum" resultType="java.lang.String">
		select code_grp from code where code_cd='ship_cd' and code_grp_nm='출하'
	</select>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(cast(substring(ship_cd,2,3) as unsigned)) from ship where ship_date=#{ship_date}
	</select>
    
    <insert id="shipInfoPro">
    	insert into ship values (#{ship_cd}, #{ord_cd}, #{ship_ifcount}, #{ship_count}, #{ship_over}, #{ship_inven}, #{ship_date})
    </insert>

</mapper>