@charset "UTF-8";
#hover_tb tr:hover {
	background-color: #C4C4C4;
}
.content-div2 {
	width: 100%;
}
.content-div {
	float: left;
	width: 47%;
	padding: 1.875em;
	margin: 0px 15px auto;
}
body {
	font-size: 13px;
}
#cli_cd, #emp_cd {
	width: 90px;
}
#cli_nm, #emp_nm {
	width: 120px;
}
#prod_cd, #prod_nm, #prod_unit, #ord_count, #prod_mat {
	width: 100px;
	border-style: none;
}
.pageNum {
	text-align: center;
}